@import url(main.css);
body{
    background-image: url("./top_bg_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
 
}
ol> li{
    color: bisque;
}

.title{
    color:#A89A8E;
}

 .container{
    background-image:url("./pexels-karolina-grabowska-4814061.jpg");
    max-width: 50% !important;
    margin: auto;
    padding:20px;
} 

.row div {
    padding: 5px 0; /* Ensures text doesn't push upwards */
}