@import url(main.css);
body{
    background-image: url("./top_bg_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
 
}
