<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    {% block header%}  
    <link rel="stylesheet" href="../static/main.css"> {% endblock %}
    <!-- default css page -->
     
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
     

    <!-- google font api -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/node_modules/html2canvas/dist/html2canvas.min.js"></script>
</head>

<body class = "montserrat-medium">
    {% block bheader%}    
    <header>
        <p><a href = "{{url_for ('index')}}">Spotify RhythmHub</a></p> 
            
            <div class = "right-links">
                <ul>
                    <li><a href= "{{url_for ('topTracks')}}"> Top 10 Tracks</a></li>
                    <li><a href= "{{url_for ('topArtists')}}">Top 10 artists</a></li>
                    <li>discover <s>weekly</s> now</li>
                </ul>
            </div>
        </header> {% endblock%}
    {% block body %}{% endblock %}
    <script src = "../static/script.js"></script>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>

