{% extends "layout.html" %}
{% block header %} <link rel="stylesheet" href="../static/top_page.css"/>  {% endblock%}

{% block body %}
    <div id = "capture">
        <header>
            <h1 class="title">Your top tracks are:</h1>        
        </header>
        
        <div class = "container mt-3">
            {% for song in range(0,10) %}
            {% set min, sec = length[song] %}
            <div class = "row justify-content-center m-0">
                <div class = "col-2 col-sm-1 pt-3 m-0 text-left" style="color: #FFFFFF;">
                    {{ loop.index }}
                </div>
                <div class="col-4 col-sm-2 pt-2 m-0">
                    <img src="{{image_list[song]}}" alt = "album image containing {{song_list[song]}}">
                </div>
                <div class="col-6 col-sm-3 pt-3 m-0" style="color: #D4A017">
                    {{song_list[song]}} 
                </div>
                <div class="col-3 col sm 2 pt-3 m-0" style="color: #D4A017">
                    0:00 - {{min}}:{{sec}}
                </div> 
            </div>
            {% endfor %}
            <a href="#" id="downloadBtn" class="btn btn-outline-warning">Download</a>
        </div>
    </div>

    <!-- <ol class = "list-container">
        {%for song in range(0,10) %}
        {% set min,sec =length[song] %}  
        <li>{{song_list[song]}} 0:00 - {{min}}:{{sec}}
                        
            <img src = "{{image_list[song]}}" alt = "album image"></li>
        {% endfor %}
    </ol> -->


{% endblock %}