{% extends "layout.html" %}
{% block header %} <link rel="stylesheet" href="../static/top_page.css"/>  {% endblock%}

{% block body %}
    <header>
        <h1>You're top 10 tracks!</h1>        
    </header>

    <ol class = "list-container">
        {%for song in range(0,10) %}
        {% set min,sec =length[song] %}  
        <li>{{song_list[song]}} 0:00 - {{min}}:{{sec}}
                        
            <img src = "{{image_list[song]}}" alt = "album image"></li>
        {% endfor %}
    </ol>
{% endblock %}